<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Clean.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A902CC032A9BB25D00C3858F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A902CC152A9BB56D00C3858F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A902CC1E2A9BB56E00C3858F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95B2CFB2AA071B600F9DAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95B2D042AA071B600F9DAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9A0FF992AE7A74100FF93A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
